
html {
    margin: 0px;
    }
            body {
                margin: 0px;
                display: grid;
                font-family: roboto;
                background-color: #262730;
                grid-template-columns: 100%;
                grid-template-rows: 60px auto auto auto auto 400px 170px;
                grid-template-areas:
                    "header"
                    "hero"
                    "sect1"
                    "sect2"
                    "sect3"
                    "newsletter"
                    "footer"
            }
            
            header {
                grid-area: header;
                background-color: 262730;
                position: sticky;
                margin: inherit;
                top: 0;
                width: 100%;
                color: #f7fff7;
                font-family: roboto;
                font-size: 12px;
                z-index: 1;
            }
            
            header ul {
                margin-right: 22px;
                }
                
            header li {
                 display: inline;
                 text-align: center;
        	     padding-top: 10px;
                 padding-right: 20px;
       			 padding-bottom: 20px;
                 float: right;
         		 padding-left: 20px;
                 border-right: 30px;
				transition: all 0.3s ease-out;
                 }
            header li a {
				width: 100%;
                color: #f7fff7;
				text-decoration: none;
				
				
                }
header li:hover {
	background-color: #23967f;
	transform: scale(1.1);
	}
            
            hero {
				margin-top:5px;
            	grid-area: hero;
                background-color: #262730;
                width: 100%
            	}

            hero img {
                position: relative;
                width: 96%;
                margin-left: 2%;
                margin-right: 2%;
                }
            
            section1 {
            	color: #f7fff7;
            	grid-area: sect1;
            	background-color: 262730;
            	position: relative;
            }
            
            section1 p {
                font-family: roboto;
                border-style: solid;
                position: absolute;
                top: 30;
                right: 60px;
  			    font-size: 24px;
                width: 200;
  			    height: 30;
                text-align: center;
                padding: 10px;
                vertical-align: middle;
                background-color: rgba(35, 150, 127, 0.5);
				transition: all 0.3s ease-out;
            }
            
            section1 p2 {
                font-family: roboto;
                font-size: 18px;
                border-style: solid;
                position: absolute;
                margin-top: 90px;
                top: 35px;
                right: 90px;
  			    width: 125;
  			    height: 20;
                text-align: center;
                padding: 10px;
                vertical-align: middle;
                background-color: rgba(35, 150, 127, 0.5);
				transition: all 0.3s ease-out;
            }

section1 p a{
	color: #f7fff7;
	text-decoration: none;
}



section1 p2 a {
    color: #f7fff7;
	text-decoration: none;
}

section1 p:hover{
	transform: scale(1.1);
}

section1 p2:hover{
	transform: scale(1.1);
}
            
            section2 {
                color: #f7fff7;
                position: relative;
                grid-area: sect2;
                background-color: 262730;
            }
            
            section2 p {
                font-family: roboto;
                border-style: solid;
                position: absolute;
                bottom: 85px;
                left: 60px;
  			    font-size: 24px;
                width: 200;
  			    height: 30;
                text-align: center;
                padding: 10px;
                vertical-align: middle;
                background-color: rgba(35, 150, 127, 0.5);
				transition: all 0.3s ease-out;
            }
            
            section2 p2 {
                font-family: roboto;
                font-size: 18px;
                border-style: solid;
                position: absolute;
                margin-top: 90px;
                bottom: 45px;
                left: 90px;
  			    width: 125;
  			    height: 20;
                text-align: center;
                padding: 10px;
                vertical-align: middle;
                background-color: rgba(35, 150, 127, 0.5);
				transition: all 0.3s ease-out;
            }
        
section2 p a{
	color: #f7fff7;
	text-decoration: none;
}

section2 p2 a {
    color: #f7fff7;
	text-decoration: none;
}

section2 p:hover{
	transform: scale(1.1);
}

section2 p2:hover{
	transform: scale(1.1);
}
   
            
            section3 {
                color: #f7fff7;
                position: relative;
                grid-area: sect3;
                background-color: 262730;
            }
            
            section3 p {
                font-family: roboto;
                border-style: solid;
                position: absolute;
                top: 30;
                right: 60px;
  			    font-size: 24px;
                width: 200;
  			    height: 30;
                text-align: center;
                padding: 10px;
                vertical-align: middle;
                background-color: rgba(35, 150, 127, 0.5);
				transition: all 0.3s ease-out;
            }
            
            section3 p2 {
                font-family: roboto;
                font-size: 18px;
                border-style: solid;
                position: absolute;
                margin-top: 90px;
                top: 35;
                right: 90px;
                width: 125;
                height: 20;
                text-align: center;
                padding: 10px;
                vertical-align: middle;
                background-color: rgba(35, 150, 127, 0.5);
				transition: all 0.3s ease-out;
            }

section3 p a{
	color: #f7fff7;
	text-decoration: none;
}
            
section3 p2 a {
    color: #f7fff7;
	text-decoration: none;
}

section3 p:hover{
	transform: scale(1.1);
}

section3 p2:hover{
	transform: scale(1.1);
}

            newsletter {
                position: relative;
                width: 100%;
                grid-area: newsletter;
                background-color: #f7fff7;
            }
            
            newsletter p1  {
				position: absolute;
                font-weight: bold;
               
				display: flex;
				justify-content: center;
                font-size: 48px;
                margin-top:100px;
				left: 50%;
				transform: translate(-50%)
	}
            
            newsletter p input{
                position: absolute;
                border-style: solid;
                Top: 190px;
                left: 50%;
				transform: translate(-50%);
                                font-size: 15px;
                border-radius: 25px;
                border: 2px solid #262730;
                padding: 10 10 10 25;
                height: 40px;
				width: 480px;
                background-color: #fff;
				margin-bottom: 0;
            }
            
            
            newsletter p2 {
				position: absolute;
				margin-top: 0px;
				left: 50%;
				transform: translate(-50%);
				top: 245px;
                font-size: 12px;
            }

 p4 input{
	 position: absolute;
	color: #f7fff7;
	font-size: 20px;
	margin-top: 10px;
	margin-left: 0px;
	background-color: #23967f;
	border-radius: 10px;
	border: none;
	padding: 10px 50px;
	top: 280px;
	left: 50%;
	transform: translate(-50%);
	transition: all 0.3s ease-out;
}
            
p4 input:hover{
	background-color: #262730;
}
            footer {
                grid-area: footer;
                position:relative;
                background-color: 262730;
            }
            
            footer p {
                color: #f7fff7;
                text-align: center;
                font-size: 14px;
                margin-top: 15px;
            }
            
            footer ul {
                padding: 0px;
                display: block;
                width: 240px;
                margin: auto;
                margin-top: 0px;
                display: flex;
                justify-content: center;
                
                
            }
            
            footer li {
                margin: auto;
                display: inline-block;
            }
            
            footer li img {
                margin: 0px;
                height:  60px;
            }
       
    	 	footer p1 {
                color: #f7fff7;
                text-align: center;
                font-size: 10px;
                display: flex;
                justify-content: center;
                margin-top: 15px;
            }
            