html {
    margin: 0px;
    }
            body {
                margin: 0px;
                display: grid;
                font-family: roboto;
                background-color: #f7fff7;
                grid-template-columns: 100%;
                grid-template-rows: 60px 100px auto 400px 170px;
                grid-template-areas:
                    "header"
					"testo"
                    "sect1"
                    "newsletter"
                    "footer"
            }
            
           header {
                grid-area: header;
                background-color: 262730;
                position: sticky;
                margin: inherit;
                top: 0;
                width: 100%;
                color: #f7fff7;
                font-family: roboto;
                font-size: 12px;
                z-index: 1;
            }
            
            header ul {
                margin-right: 22px;
                }
                
            header li {
                 display: inline;
                 text-align: center;
        	     padding-top: 10px;
                 padding-right: 20px;
       			 padding-bottom: 20px;
                 float: right;
         		 padding-left: 20px;
                 border-right: 30px;
				transition: all 0.3s ease-out;
                 }
            header li a {
				width: 100%;
                color: #f7fff7;
				text-decoration: none;
				
				
                }
header li:hover {
	background-color: #23967f;
	transform: scale(1.1);
	}

titolo{
	grid-area: testo;
	color: #23967f;
	text-align: center;
	margin:40px;
}

incontri{
	grid-area: sect1;
	background-color: #f7fff7;
	max-width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
 	grid-gap: 20px;
      margin: 60px 60px; 
	
                }

incontri div {

    max-height: 150px;
	background-color: rgb(255, 255, 255);
	border: 1px solid #262730;
	width: 100%;
	height: 100%;
}

div h1{
	color: #23967f;
	margin-top: 10px;
	margin-left: 28%;
	
}

div h1 a{
	color: #23967f;
	margin-top: 10px;
	text-decoration: none;
	transition: all 0.3s ease-out;
}

div h1 a:hover{
	color: #262730;
	}

div p {
	color: #262730;
	margin-top: 10px;
	margin-left: 28%;
	
}

.img2 {
  float: left;
	height: 100%;
	
}

 
            newsletter {
                position: relative;
                width: 100%;
                grid-area: newsletter;
                background-color: #f7fff7;
            }
            
            newsletter p1  {
				position: absolute;
                font-weight: bold;
               
				display: flex;
				justify-content: center;
                font-size: 48px;
                margin-top:100px;
				left: 50%;
				transform: translate(-50%)
	}
            
            newsletter p input{
                position: absolute;
                border-style: solid;
                Top: 190px;
                left: 50%;
				transform: translate(-50%);
                                font-size: 15px;
                border-radius: 25px;
                border: 2px solid #262730;
                padding: 10 10 10 25;
                height: 40px;
				width: 480px;
                background-color: #fff;
				margin-bottom: 0;
            }
            
            
            newsletter p2 {
				position: absolute;
				margin-top: 0px;
				left: 50%;
				transform: translate(-50%);
				top: 245px;
                font-size: 12px;
            }

 p4 input{
	 position: absolute;
	color: #f7fff7;
	font-size: 20px;
	margin-top: 10px;
	margin-left: 0px;
	background-color: #23967f;
	border-radius: 10px;
	border: none;
	padding: 10px 50px;
	top: 280px;
	left: 50%;
	transform: translate(-50%);
	transition: all 0.3s ease-out;
}
            
p4 input:hover{
	background-color: #262730;
}
            footer {
                grid-area: footer;
                position:relative;
                background-color: 262730;
            }
            
            footer p {
                color: #f7fff7;
                text-align: center;
                font-size: 14px;
                margin-top: 15px;
            }
            
            footer ul {
                padding: 0px;
                display: block;
                width: 240px;
                margin: auto;
                margin-top: 0px;
                display: flex;
                justify-content: center;
                
                
            }
            
            footer li {
                margin: auto;
                display: inline-block;
            }
            
            footer li img {
                margin: 0px;
                height:  60px;
            }
       
    	 	footer p1 {
                color: #f7fff7;
                text-align: center;
                font-size: 10px;
                display: flex;
                justify-content: center;
                margin-top: 15px;
            }
            