<style>
            
html {
    margin: 0px;
    }
            body {
                margin: 0px;
                display: grid;
                font-family: roboto;
                background-color: #262730;
                grid-template-columns: 100%;
                grid-template-rows: 60px auto 400px 170px;
                grid-template-areas:
                    "header"
                    "section"
                    "newsletter"
                    "footer"
            }
            
            header {
                grid-area: header;
                background-color: 262730;
                position: sticky;
                margin: inherit;
                top: 0;
                width: 100%;
                color: #f7fff7;
                font-family: roboto;
                font-size: 12px;
                z-index: 1;
            }
            
            header ul {
                margin-right: 22px;
                }
                
            header li {
                 display: inline;
                 text-align: center;
        	     padding-top: 10px;
                 padding-right: 20px;
       			 padding-bottom: 20px;
                 float: right;
         		 padding-left: 20px;
                 border-right: 30px;
                 }
            header li a {
                color: #f7fff7;
                }

            section{
                grid-area: section;
                background-color: #f7fff7;    
            }

.container {
    position: relative;
    min-height: 100vh;
    background-color: #f7fff7;
    }

.container .image-container {
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.container .image-container .image {
    width: 40%;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}

.container .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
    }

.container .image-container .image:hover img{
    transform: scale(1.1);
    }

.container .popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba (35 150 127 .7);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.container .popup-image span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #f7fff7;
    cursor: pointer;
    z-index: 100;
}

.container .popup-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    object-fit: cover;
    }

@media (max-width:768px) {
    .container .popup-image img{
        width: 95%;
    }
}
    
            newsletter {
                position: relative;
                width: 100%;
                grid-area: newsletter;
                background-color: #f7fff7;
            }
            
            newsletter p  {
                font-weight: bold;
                text-align: center;
                font-size: 48px;
                margin-top:100px;
            }
            
            newsletter p1 {
                position: absolute;
                border-style: solid;
                Top: 170px;
                left: 25%;
                right:25%;
                font-size: 15px;
                border-radius: 25px;
                border: 2px solid #262730;
                padding: 10 10 10 25;
                top: 170px;
                height: 15px;
                background-color: #fff;
            }
            
            .button {
  			    background-color: #fff;
                border: none;
                border-color: #262730;
                padding: 7px 7px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 15px;
  			    margin: 2px 2px;
  			    transition-duration: 0.4s;
  			    cursor: pointer;
                position: absolute;
                left: 27%;
                top: 220px;
            }
            
            .button5 {
                background-color: white;
                color: black;
                border: 2px solid #262730;
             }

		   .button5:hover {
               background-color: #262730;
               color: white;
			}

            newsletter p2 {
                position: absolute;
                top: 210px;
                left: 29%;
                font-size: 12px;
            }
            
            footer {
                grid-area: footer;
                position:relative;
                background-color: 262730;
            }
            
            footer p {
                color: #f7fff7;
                text-align: center;
                font-size: 14px;
                margin-top: 15px;
            }
            
            footer ul {
                padding: 0px;
                display: block;
                width: 240px;
                margin: auto;
                margin-top: 0px;
                display: flex;
                justify-content: center;
                
                
            }
            
            footer li {
                margin: auto;
                display: inline-block;
            }
            
            footer li img {
                margin: 0px;
                height:  60px;
            }
       
    	 	footer p1 {
                color: #f7fff7;
                text-align: center;
                font-size: 10px;
                display: flex;
                justify-content: center;
                margin-top: 15px;
            }
            
         </style>